# Dependencies
node_modules/

# Build outputs
dist/
build/
out-tsc/

# Envs / secrets
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Coverage / tests
coverage/

# Uploads
uploads/

# IDEs
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
