.gestion-commandes-container {
    max-width: 1400px;
    margin: 0 auto;
}

.table {
    width: 100%;
    border-collapse: collapse;

    th {
        font-weight: 500;
        background-color: #f8fafc;
        border-bottom: 2px solid #f1f5f9;
        text-transform: uppercase;
    }

    tr {
        &:hover {
            background-color: #f8fafc;
        }

        td {
            border-bottom: 1px solid #f1f5f9;
            vertical-align: middle;
        }
    }
}

.badge {
    padding: 6px 10px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 11px;
}

.bg-primary {
    background-color: rgba(93, 135, 255, 0.1);
    color: #5d87ff;
}

.bg-accent {
    background-color: rgba(73, 190, 255, 0.1);
    color: #49beff;
}

.bg-warn {
    background-color: rgba(255, 174, 31, 0.1);
    color: #ffae1f;
}

.bg-danger {
    background-color: rgba(250, 137, 107, 0.1);
    color: #fa896b;
}

.bg-success {
    background-color: rgba(19, 222, 185, 0.1);
    color: #13deb9;
}

.bg-warning {
    background-color: rgba(255, 174, 31, 0.1);
    color: #ffae1f;
}

.bg-light {
    background-color: #f1f5f9;
    color: #64748b;
}